<div class="ui grid">
  <div class="five wide column"></div>
  <div class="six wide column">
    <div class="ui piled segment center aligned"  style="margin-top: 15vh;">

        <img class="ui small centered image" src="https://i.imgur.com/QEcOYpo.png">

      <h2 class="ui icon header">

        <div class="content">

          Vicinux
          <div class="sub header">Manage your account settings and set e-mail preferences.</div>
          <br />
          <button class="ui active button primary" style="margin-bottom: 3vh;">
            Join us
          </button>
          <br />
          <button class="ui active button primary">
            Login
          </button>
        </div>
      </h2>

    </div>
  </div>
</div>


  <h1 class="ui header">
  <div class="sub header"> </div>
  <div class="sub header"> </div>
  </h1>


    <h3 class="ui horizontal divider header">
      <i class="users icon"></i>
    </h3>

    <div class="ui raised very padded text container segment">
      <h2 class="ui header">About Us</h2>
      <p><b>Vicinux</b> is an app designed to streamline the exchange of goods between individuals.</p>

      <h3 class="ui horizontal divider header">
        <i class="exchange alternate icon centered"></i>
          </h3>
      <p></p>
    </div>


    <h1 class="ui header">
    <div class="sub header"> </div>
    <div class="sub header"> </div>
    </h1>


    <h3 class="ui horizontal divider header">
    <i class="map marker alternate icon"></i>
  </h3>

  <div class="ui raised very padded text container segment">
    <h2 class="ui header">How it Works</h2>
    <p>Trading with <b>Vicinux</b> is easy.  Simply input your local zip code and you will be matched with other people also looking to trade in your area!</p>
    <div class="ui list">
      <div class="item">
        1.) Upload your inventory
      </div>
      <div class="item">
        2.) Submit a request for an item
      </div>
    </div>
    <p>Then you can browse others' requests, initiate a proposed trade, and directly message the other person to come to an agreement on the terms o f exchange and meeting location.  <b>Vicinux</b> will even propose public locations nearby to make the exchange.</p>
    <p></p>
  </div>

      <h3 class="ui horizontal divider header">
