<div class="ui grid">
  <div class="five wide column"></div>
  <div class="six wide column">
    <div class="ui piled segment center aligned"  style="margin-top: 15vh;">
      <h2 class="ui icon header">
        <i class="settings icon"></i>
        <div class="content">
          Vicinux
          <div class="sub header">Manage your account settings and set e-mail preferences.</div>
          <br />
          <button class="ui active button primary" style="margin-bottom: 3vh;">
            Join us
          </button>
          <br />
          <button class="ui active button primary">
            Login
          </button>
        </div>
      </h2>
    </div>
  </div>
</div>
