<div class="ui grid stackable">
  <div class="three wide column"></div>
  <div class="ten wide column" style="margin-top: 2vh;">
    <div class="ui very padded segment stacked" style="background: white; opacity: 0.9">
      <div class="ui massive label" >
        Request Item -
      </div>
      <%= form_for(:sessions, html: { class: 'ui form', role: 'form' }, url: login_path) do |f| %>
        <div class="field">
          <%= f.label :description%>
          <div class="ui left icon input">
            <%= f.text_field :description, placeholder: 'Description' %>
            <i class="user icon"></i>
          </div>
        </div>

        <%= f.submit 'Submit', class: 'ui button blue big' %>
      <% end %>

   </div>
 </div>
</div>
