@import "semantic-ui";
body {
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.chatbox {
  height: 450px;
}

#messages {
  overflow: auto;
  height: 15em;
}

.input {
  button {
    display: none;
  }
}
